* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  gap: 2vh;
  background-color: #eeeeee;
}

.picker {
	display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
	width: 100%;
}

.block__picker {
	background-color: #ff0000;
	height: 200px;
	width: 200px;
	user-select: none;
  position: relative;
  cursor: crosshair;
}

.block__picker__img {
	width: 200px;
  box-shadow: #cccccc 1px 1px 5px 0px;
}

.gradient__line {
  display: flex;
  justify-content: center;
	position: relative;
	cursor: crosshair;
	user-select: none; 
	
}

.gradient__line__arrows {
  width: 42px;
  display: flex;
  height: 3px;
  justify-content: space-between;
  align-items: center;
	position: absolute;
  top: -1px;
	cursor: crosshair;
	user-select: none;
  
  div {
    font-size: 1.1rem;
    cursor: pointer;
  }
}

.picker__output__color {
	width: 150px;
	height: 70px;
  box-shadow: #cccccc 1px 1px 5px 0px;
  border-radius: 7px;
}

.circle__pointer {
	width: 8px;
	height: 8px;
	border: 1px solid black;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: 0;
	cursor: crosshair;
	user-select: none; 
}

input {
  width: 150px;
  height: 35px;
  font-size: 2rem;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #cccccc;
}

.button {
  width: 150px;
  height: 35px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #cccccc;
  background-color: #dddddd;
  cursor: pointer;
  box-shadow: #cccccc89 1px 1px 5px 0px;

  &:hover {
    background-color: #d5d5d5;
  }

  &:active {
    box-shadow: none;
  }
}

.result__color {
  width: 70px;
  height: 70px;
  background-color: #000000;
  border-radius: 7px;
}

.css__property {
  display: flex;
  align-items: center;
  align-items: center;
  font-size: 1.5rem;
  height: 50px;
}

.wrong__input {
  border: 2px solid #ff0000;
  color: #ff0000;
  box-shadow: #ff0000 0 0 5px 0;
}